<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="check_out" frontName="check_out">
            <module name="Part5_CustomizeCheckout" />
        </route>
    </router>
</config>